/DrawEditor/nbproject/private/
/DrawEditor/build/
/DrawEditor/dist/
/sm.ALM.Biblioteca/nbproject/private/
/sm.ALM.Biblioteca/build/
/sm.ALM.Biblioteca/dist/
*.zip
/sm.ALM.image/nbproject/private/
/sm.ALM.image/build/
*.jar
DrawEditor.pack.jar
*.jar